body{
	background-color: #7787a7;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	color: #202020;
}

h1{
	font-size: large;
	font-weight: bold;
}

h2{
	font-size: small;
	font-weight: bold;
	margin-left: 48px;
}

p,h3,h4,h5,h6,table{
	margin-left: 64px;
	margin-right:64px;
}

ul{
	margin-left: 48px;
	margin-right:64px;
}

a{
	background-color: inherit;
	color: #101040;
}

img.horiz_caption{
	vertical-align: middle;
}

#container{
	position: relative;
	border-width: 1px;
	border-color: #303030;
	border-style: solid;

	padding: 16px 16px 16px 16px;

	background-color: #bdcbbf;
	color: inherit;

	text-align: justify;
	width: 630px;

	//min-height: 500px;
}

#truebody{
}

#banner{
	text-align: center;
	font-size: x-large;
	height: 40px;
}

#banner_link{
	text-decoration: none;
}

#nav{
	text-align:center;
}

#horizontal_caption{
	margin-left: 16px;
}

#centered_paragraph{
	text-align: center;
}

#index_title
{
	text-align: center;
	font-size: 96px;
	font-family: Palatino Linotype, Palatino, Garamond, serif;
	font-color: 202020;
}

#index_caption
{
	text-align: center;
	font-size: 16px;
	font-family: Palatino Linotype, Palatino, Garamond, serif;
	font-color: 7787a7;
}

#footer{
	text-align: center;
	font-size: small;
	font-weight: normal;
}