body{
	background-color: #183010;
	margin: 0x;
	padding: 10px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	font-weight: normal;
	color: #FFFFFF;
}

h1{
	text-align: center;
	font-size: large;
	font-weight: normal;
}

h2{
	text-align: left;
	font-size: large;
	font-weight: normal;
	margin-left: 48px;
}

h3,h4,h5,h6,p{
	text-align: left;
	font-size: small;
	font-weight: normal;
	margin-left: 64px;
	margin-right:64px;
}

ul{
	margin-left: 48px;
	margin-right:64px;
}

a{
	background-color: inherit;
	color: #C06040;
}

#container{
	position: relative;
	border-width: 1px;
	border-color: #603020;
	border-style: solid;
	padding: 0px 10px 10px 10px;

	background-color: #000000;
	color: inherit;

	text-align: justify;
	width: 1044px;

	min-height: 500px;
}

#truebody{}

#banner{
	text-align: center;
}

#nav{
	text-align: center;
	font-size: small;
	font-weight: normal;
}

#horizontal_caption{
	margin-left: 16px;
}

#centered_paragraph{
	text-align: center;
	font-size: small;
	font-weight: normal;
}

#footer{
	text-align: center;
	font-size: small;
	font-weight: normal;
}

#caption{
	position: relative;
	text-align: justify;
	font-size: small;
	font-weight: normal;
	width: 550px;
}